.easy-autocomplete {
	
	width: 100% !important;
	
}

*:focus {
    outline: none;
}

#top_bg {
		
	background: url(/assets/images/chart-wheel-form/dt_header_bg.png) no-repeat top center;
	background-size: cover;
		
}

#logo_top {
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 48px; 
	
}

#headline {
	
	color: white;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 54px;
	margin-bottom: 18px;
	text-transform: uppercase;
	max-width: 800px;
	
}

#sub_headline {
	
	color: white;
	font-size: 19px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 30px;
	margin-bottom: 40px;
	text-transform: uppercase;
	max-width: 600px;
	
}

.container, .container_fluid, .row {
	
	padding-left: 0px;
	padding-right: 0px;
	
}

.form_wrapper {
	
	background-color: white;
	width: 90%;
	padding: 10px;
	max-width: 900px;
    z-index: 10000;
	
}

.form {
	
    background-color: #000;
	background: url(/assets/images/chart-wheel-form/dt_top_form_bg.png) no-repeat top center;
	background-size: cover;
	min-height: 300px;
	padding-top: 15px;
	padding-bottom: 30px;
    z-index: 10000;
	
}

.form_input {
	
	background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #b78d4a;
    width: 90%;
    margin-top: 10px;
    z-index: 10000;
	
}

.form_select {
	
	border-radius: 0;
	background: url(/assets/images/chart-wheel-form/dropdown_arrow.png) no-repeat right center;
    z-index: 10000;
	
}

.form_select option {
    
    color: #000 !important;
    
}

.form_disclaimer {

    text-align: left;
    color: #fff;
    margin: 1.5em 4% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;

}

.form_disclaimer a,
.form_disclaimer a:visited {
    color: #dba351;
    font-weight: 600;
}

.gdpr-email-consent {
    display: none;
}

#birth_date_month, #birth_date_day, #birth_date_year {
	
	width: 26.5%;
	float: left;
	margin-right: 0%;
	
}

#birth_date_month_1, #birth_date_day_1, #birth_date_year_1 {
	
	width: 26.5%;
	float: left;
	margin-right: 0%;
	
}

#birth_time_hour, #birth_time_minute, #birth_time_meridiem {
	
	width: 26.5%;
	float: left;
	margin-right: 0%;
	
}

#birth_time_hour_1, #birth_time_minute_1, #birth_time_meridiem_1 {
	
	width: 26.5%;
	float: left;
	margin-right: 0%;
	
}

.form_checkbox {
	
	margin-top: 8px;
	margin-bottom: 6px;
	margin-left: 5%;
	margin-right: 2%;
	float: left;
	
}

.form_checkbox_label {
	
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 18px;
	display: block;	
	margin-top: 8px;
	margin-bottom: 6px;
	padding-right: 5%;
	text-align: left;
	
}

.mb_form_submit {
	
	display: none;
	
}

.dt_form_submit {
	
	margin-top: 30px;
	display: block;
		
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
}

#copy_container {
	
	margin-top: 50px;
	
}

#copy_headline {
	
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
	color: #051729;
	text-transform: uppercase;
	line-height: 30px;
	padding-top: 20px;
	
}

#copy_subheadline {
	
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #00172b;
	
}

#copy {
	
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #332f51;
	
}

#bottom_bg {
		
	background: url(/assets/images/chart-wheel-form/dt_bottom_bg.png) no-repeat top center;
	background-size: cover;
	padding-top: 40px;	
		
}

#bullets_container {
	
	background-color: #fff;
	padding-left: 5%;
	padding-right: 5%;	
	padding-bottom: 30px;
	
}

#bullets_headline {
	
	color: #051729;
	font-size: 19px;
	font-weight: 800;
	line-height: 25px;
	padding-top: 50px;
	text-transform: uppercase;
	text-align: center;
	
}

.bullets {
	
	list-style-type: none;
	padding-left: 0px;
	
}

.bullets_left {
	
	margin-right: 20%;
	
}

.bullets li {
	
	color: #332f51;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	background: url(/assets/images/chart-wheel-form/bullet.png) no-repeat;
	background-position: 0px 5px;
	padding-left: 40px;
	margin-bottom: 20px;
	
}

#what_you_get {
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 25px;
	color: white;
		
}

#what_you_get_phone {
	
	display: none;
	
}

#what_you_get_laptop {
		
	display: block;
	width: 100%;
	max-width: 856px;
	z-index: -1 !important;
		
}

#mb_signs_container {
	
	display: none;
	
}

#signs_headline {
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size; 18px;
	color: #051729;
	text-align: center;
	line-height: 22px;
	padding-top: 40px;
	
}

#dt_signs_headline {
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size; 18px;
	color: #051729;
	text-align: center;
	line-height: 22px;
	padding-top: 40px;
	padding-bottom: 20px;
	
}

.sign_image {
	
	width: 23%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 1.5%;
	
}

.dt_sign_image {
	
	width: 6.5%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 1.5%;
	
}

#mb_social_bottom {
	
	display: none;
	
}

#social_icons_row {
	
	padding-top: 10px;
	
}

#mb_footer_container {
	
	display: none;
	
}

#dt_bottom_logo {
	
	padding-left: 7%;	
	text-align: left;
	
}

#dt_bottom_social {
	
	padding-right: 7%;
	padding-top: 15px;
	text-align: right;
	
}

#dt_signs_container {
	
	padding-bottom: 30px;
	
}

#footer {
	
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #051729;
	line-height: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	
}

#footer a {
	
	color: #051729;
	
}

#dt_footer_container {
	
	background-color: white !important;
	
}

.dt_footer {
	
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #051729;
	line-height: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	
}

.dt_footer a {
	
	color: #051729;
	
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#shadow {
	
	width: 90%;
	max-width: 900px;
	margin-bottom: 30px;
	border-left: 7px solid white;
	visibility: hidden;
	
}

#dt_footer_menu {

	list-style-type: none;
	width: 100%;
	text-align: center;
	
}

#dt_footer_menu li {
	
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #051729;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#dt_footer_menu li a {
	
	color: #051729;
	
}

#dt_footer_menu_row {
	
	border-bottom: 1px solid #051729;
	margin-bottom: 30px;
	
}

#dt_footer_copyright {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #051729;
	
}

#dt_footer_disclaimer {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #051729;
	
}

.half {
	
	width: 43%;
	float: left;
	
}

.left {
	
	margin-right: 2%;
	
}

.right {
	
	margin-left: 2%;
	
}

@media only screen and (max-width: 1200px) {
	
	#planet_image {
		
		max-width: 400px;
		
	}
	
}

@media only screen and (max-width: 720px) {
	
	#top_bg {
		
		background: url(/assets/images/chart-wheel-form/mb_top_bg.png) no-repeat top center;
		background-size: cover;
			
	}
	
	#bottom_bg {
		
		background: url(/assets/images/chart-wheel-form/mb_bottom_bg.png) no-repeat top center;
		background-size: cover;
		padding-top: 40px;	
			
	}
	
	#logo_top {
	
		margin-top: 10px;
		margin-bottom: 32px; 
		
	}
	
	#headline {
		
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		line-height: 37px;
		
	}
	
	#sub_headline {
	
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 35px;

		
	}
	
	#copy_container {
		
		margin-top: 0px;
		
	}
	
	#shadow {
		
		display: none;
		
	}

	#planet_image {
		
		max-width: 300px;
		
	}

	#what_you_get_phone {
		
		display: block;
		
	}

	#what_you_get_laptop {
		
		display: none;
		
	}
	
	.form_wrapper {
		
		margin-left: 5%;
		margin-bottom: 30px;
		
	}
	
	.mb_form_submit {
	
		margin-top: 20px;
		display: block;
		
	}
	
	.dt_form_submit {
		
		display: none;
		
	}
	
	#mb_signs_container {
	
		background-color: white;
		padding-bottom: 30px;
		display: block;
		
	}
	
	#mb_social_bottom {
	
		background-color: #f3f3f3;
		padding-top: 30px;
		padding-bottom: 30px;
		display: block;
		
	}
	
	#mb_footer_container {
	
		background-color: white;
		display: block;
		
	}
	
	#dt_signs_container {
		
		display: none;
		
	}
	
	#dt_footer_container {
		
		display: none;
		
	}
	
	.form_checkbox_label {
	
		padding-left: 12%;
	
	}
	
	.form_checkbox {
	
		margin-top: 10px;
		margin-bottom: 12px;
		margin-left: 5%;
		margin-right: 2%;
		float: left;
		
	}
	
	#dt_footer_copyright {
		
		text-align: center;
		
	}
	
	#dt_footer_disclaimer {
		
		text-align: center;
		
	}
	
	#dt_footer_menu li {
	
		margin-top: 5px;
		margin-bottom: 5px;
		
	}
	
	#dt_footer_menu_row {
		
		margin-top: 20px;
		
	}
	
	.half {
		
		float: none;
		width: 90%;
		
	}
	
	.left {
		
		margin-right: 5%;
		
	}
	
	.right {
		
		margin-left: 5%;
		
	}
	
	.bullets_left {
		
		margin-right: 0;
		
	}
	
}

#countryId, #stateId, #cityId {

    width: 26.5%;
    float: left;
	margin-right: 0%;
	
}
.locationwrap p {color: #fff;text-align: left;margin: 0;padding: 0;margin-left: 5%;margin-top: 2%;}