.page-header {
    font-family: Montserrat;
}

.glyph {
    font-family: astro;
    font-style: normal;
}

.control-label {
    font-family: Oswald;
}

.zodiac-sign {
    width: 150px;
}

.save-in-pdf-link {
    background:none;
    color:#9d9d9d;
    border:none;
    font: inherit;
    position: relative;
    display: block;
    padding: 10px 15px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    /*border is optional*/
    /* border-bottom:1px solid #444; */
    cursor: pointer;
}

.save-in-pdf-link:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.8);
    border-color: rgba(34, 34, 34, 0.8);
}

#planet-sign {
    position: absolute;
    right: 20px;
    top: 80px;
}

.submit-natal-chart-button {
    border-width: 1px;
    border-color: rgb(46, 48, 48);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    line-height: 1.625;
    text-align: center;

    font: 12pt Montserrat;
    font-weight: 700;
    font-style: normal;
}

#report-container {
    height: 100vh;
    max-height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: cover;
    background-position-x: center;
}

#report-container .row {
    height: 100%;
}

#natal-chart-report {
    max-height: 100%;
    overflow-y: auto;
}

#natal-chart-image {
    max-height: 100%;
    max-width: 90vh;
    overflow-y: auto;
}

#natal-chart-image img {
    width: 100%;
}

@media (max-width: 991px) {
    #report-container {
        max-height: 100%;
        overflow-y: auto;
    }


    #planet-sign {
        position: inherit;
        width: 25%;
        margin-left: auto;
        margin-right: 30%;
        margin-top: -20px;
        margin-bottom: 10px;
        top: 20px;
    }

    #planet-sign img {
        width: 100%;
    }

    .settings-popup, .settings-button {
        margin-top: 5px;
    }
}

.display-none {
    display: none;
}

.bg-planets-content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    margin-top: 10px;
}

.bg-planets-content p {
    margin: 10px 0 0 0;
}

.bg-planets-content h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 0;
}

.bg-planets-content p {
    font-family: "OswaldLight";
    font-size: 12pt;
}

.easy-autocomplete-container ul {
    max-height: 200px;
    overflow: auto;
}

.settings-button {
    font-size: 10pt;
    font-family: "Montserrat";
    color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 6px;
    line-height: 1.625;
    text-align: center;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    margin-top: 20px;
    z-index:199;
}

.settings-popup {
    display: none;
    background-color: white;
    border-radius: 0;
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    z-index: 200;
}

.settings-popup .settings-title {
    font-size: 10pt;
    font-family: "Montserrat";
    color: rgb(50, 50, 50);
}

.settings-popup .settings-close {
    float: right;
    font-size: 8pt;
    font-family: "Oswald";
    color: rgb(50, 50, 50);
    cursor: pointer;
}


input[type=checkbox] {
    display: none;
}

.checkbox label, .radio label {
    min-height: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    font-family: "OswaldLight";
    cursor: pointer;
}

input[type=checkbox]:checked + label:before {
    background-image: url(../images/checked.png);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    width: 17px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    content: "";
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

input[type=checkbox] + label:before {
    background-image: url(../images/no-checked.png);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    width: 17px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    content: "";
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.easy-autocomplete {
    width: auto !important;
}

.mfp-content {
    position: initial;
}

.text-center {
    text-align: center;
    text-align: -webkit-center;
}

/**
CANVAS
 */

.canvas-natal-cart {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.canvas-natal-cart .canvas-container {
    max-width: 100%;
    max-height: 100%;
}

